<mat-card style="padding: 0;">
  <mat-toolbar color="primary" style="border-radius: 3px 3px 0 0; height: 46px;">
    <span>Fahren</span>
  </mat-toolbar>
  <div class="card-subcontainer">
    <div style="padding-bottom: 24px;">
      <carss-choose-map #map (placeIdChange)="placeChanged($event);" placeId="ChIJG0-toC-yt0cRxAXMiEYhyng"></carss-choose-map>
      <div style="padding-top: 8px;" fxLayout="row" fxLayoutAlign="start center">
        <p fxFlex="initial">Der ausgewählte Punkt ist mein &nbsp;</p>
        <mat-form-field fxFlex="initial">
          <mat-select (valueChange)="directionChange($event);" [value]="destination">
            <mat-option value="destination">
              Zielpunkt
            </mat-option>
            <mat-option value="origin">
              Startpunkt
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider style="margin-top: 16px;"></mat-divider>
    </div>
    <div>
      <div fxLayout="row">
        <mat-form-field style="width: 100%;">
          <textarea maxlength="512" [(ngModel)]="ride.description" matInput placeholder="Beschreibung" rows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div style="padding: 8px 16px 8px 16px;">
    <carss-tag-container [offline]="true" [(tags)]="tags" type="rides"></carss-tag-container>
  </div>
  <mat-divider></mat-divider>
  <div style="padding: 8px 0 8px 8px;">
    <button style="padding-right: 8px;" (click)="postRide();" color="primary" mat-button>Erstellen</button>
  </div>
</mat-card>
