<!--
<mat-card style="padding: 0;">
  <mat-toolbar color="warn" style="border-radius: 3px 3px 0 0; height: 46px;">
    <span>Mitfahren</span>
  </mat-toolbar>
  <div class="card-subcontainer">
    <mat-form-field fxFlex="49">
      <mat-select [(value)]="originSelect" placeholder="Startpunkt" (selectionChange)="originChanged($event);">
        <mat-option [value]="1">
          Meine Adresse
        </mat-option>
        <mat-option [value]="2">
          BBS Papenburg
        </mat-option>
        <mat-option [value]="3">
          Neue Adresse...
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayoutAlign="center center">
      <mat-icon color="accent" style="padding: 4px;">arrow_forward</mat-icon>
    </div>
    <mat-form-field fxFlex="49">
      <mat-select [(value)]="destinationSelect" placeholder="Ziel" (selectionChange)="destinationChanged($event);">
        <mat-option [value]="1">
          Meine Adresse
        </mat-option>
        <mat-option [value]="2">
          BBS Papenburg
        </mat-option>
        <mat-option [value]="3">
          Neue Adresse...
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
-->
