<mat-toolbar color="primary" style="height: 54px;">
  <a class="toolbar-title" [routerLink]="['/']"> {{ service.title }}</a>
  <div fxFlex="auto"></div>
  <button matTooltip="Profil" mat-icon-button aria-label="" [routerLink]="['/profile', (service.auth.authState | async)?.uid ]">
    <mat-icon>
      account_circle
    </mat-icon>
  </button>
  <button matTooltip="Mehr" mat-icon-button aria-label="More" [matMenuTriggerFor]="menu">
    <mat-icon>
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>
    <button mat-menu-item (click)="auth.auth.signOut();">
      <mat-icon>exit_to_app</mat-icon>
      <span>Abmelden</span>
    </button>
  </mat-menu>
</mat-toolbar>
