<h1 ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  {{ query }}
</h1>

<mat-card *ngIf="searched" style="padding: 0px;">
  <div *ngFor="let item of results;">
    <div fxFlex="auto" fxLayout="column">
      <carss-tag-container style="padding: 8px 16px 8px 16px;" [tags]="item.tags | async" [id]="item.ride_id" type="rides"></carss-tag-container>
      <div class="card-subcontainer" fxLayout="row">
        <div>
          <carss-description-container [content]="item.description"></carss-description-container>
        </div>
      </div>
    </div>
    <div fxFlex="initial" class="card-subcontainer">
      <button mat-button color="primary" [routerLink]="['/profile', (item.driver | async)?.id]">Fahrer kontaktieren</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>
