<div>
  <mat-form-field fxFlex="49">
    <input matInput (placeChanged)="originChanged($event);" agmInput type="text" placeholder="Startpunkt">
  </mat-form-field>
  <div fxFlex="auto"></div>
  <mat-form-field fxFlex="49">
    <input matInput (placeChanged)="destinationChanged($event);" agmInput type="text" placeholder="Ziel">
  </mat-form-field>
</div>
<div>
  <agm-map [latitude]="53.08289606489976" [longitude]="7.402403354644775" [zoom]="16" class="map">
    <agm-directions></agm-directions>
  </agm-map>
  <h3 *ngIf="directive.estimatedTime !== ''" class="map-subtitle">
    {{ directive.estimatedTime }} / {{ directive.estimatedDistance }}
  </h3>
</div>
