<div>
  <h1 style="font-family: 'Roboto Light'; font-size: 30pt; margin-bottom: 8px;">{{ profile?.name }}</h1>
</div>
<mat-chip-list (mouseenter)="showPlus = true;" (mouseleave)="showPlus = false;">
  <mat-chip color="accent" [selected]="true" matTooltip="Administrator der Plattform">Admin</mat-chip>
  <mat-chip color="accent" [selected]="true" matTooltip="Über IServ verifiziert">IServ</mat-chip>
  <mat-chip color="accent" [selected]="true" matTooltip="Benutzt Facebook">Facebook</mat-chip>
  <mat-chip matTooltip="Wohnt in {{ profile?.home }}">{{ profile?.home }}</mat-chip>
  <mat-chip matTooltip="Wohnt in {{ profile?.home }}">GYT16-1</mat-chip>
  <mat-chip *ngIf="showPlus" matTooltip="Tag hinzufügen" class="plus-tag">+</mat-chip>
</mat-chip-list>
<div fxLayout="row">
  <div fxFlex="100%">
<pre>Hallo,

willkommen auf meinem Profil. Ich bin der Entwickler dieser Plattform, wenn
du Ideen oder Anstöße zu Änderungen hast bist du bei mir richtig.
</pre>
  </div>
</div>
<mat-divider style="margin-top: 24px;"></mat-divider>
<h1 style="font-family: 'Roboto Light'; font-size: 21pt; margin-bottom: 8px; margin-top: 4px;">Zur Person:</h1>
<div>
  <div fxFlex="initial" fxLayout="column">
    <b class="table-entry">Geschlecht:</b>
    <b class="table-entry">Alter:</b>
    <b class="table-entry">Schulform:</b>
    <b class="table-entry">Klasse:</b>
    <b class="table-entry">Wohnort:</b>
  </div>
  <div style="margin-left: 8px;" fxFlex="initial" fxLayout="column">
    <div class="table-entry">
      Männlich
    </div>
    <div class="table-entry">
      17
    </div>
    <div class="table-entry">
      Berufliches Gymnasium Technik
    </div>
    <div class="table-entry">
      GYT16-1
    </div>
    <div class="table-entry">
      Papenburg
    </div>
  </div>
</div>
<mat-divider style="margin-top: 24px;"></mat-divider>
<h1 style="font-family: 'Roboto Light'; font-size: 21pt; margin-bottom: 8px; margin-top: 4px;">Mein Auto:</h1>
<div>
  <div fxFlex="initial" fxLayout="column">
    <b class="table-entry">Marke:</b>
    <b class="table-entry">Sitzplätze:</b>
    <b class="table-entry">Türen:</b>
    <b class="table-entry">Modell:</b>
    <b class="table-entry">Farbe:</b>
    <b class="table-entry">Baujahr:</b>
    <b class="table-entry">Sonstiges:</b>
  </div>
  <div style="margin-left: 8px;" fxFlex="initial" fxLayout="column">
    <div class="table-entry">
      Mercedes Benz
    </div>
    <div class="table-entry">
      5
    </div>
    <div class="table-entry">
      5
    </div>
    <div class="table-entry">
      C Klasse - Kombi
    </div>
    <div class="table-entry">
      Schwarz
    </div>
    <div class="table-entry">
      2013
    </div>
    <div class="table-entry">
      Bluetooth Audio
    </div>
  </div>
</div>
