.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.table-entry {
  padding: 2px;
}

.plus-tag {
  animation: fadein 0.3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
