<app-dashboard-toolbar title="Einstellungen" backRoute=""></app-dashboard-toolbar>
<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="65" fxLayout="column" fxFlex.xs="100">
    <mat-card>
      <mat-card-title>IServ - Verbindung:</mat-card-title>
      <mat-card-subtitle>Es ist geplant eine IServ Verbindung zu erstellen.</mat-card-subtitle>
      <mat-card-content style="font-size: 12pt; margin-bottom: 0px;">
        <div class="iserv-login-container">
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput type="email" placeholder="IServ-Mail Adresse">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Autorisieren</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Privatsphäre Einstellungen:</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Generelle Einstellungen:</mat-card-title>
    </mat-card>
  </div>
</div>
