<mat-toolbar color="primary" class="footer-xs">
  <mat-toolbar-row fxLayoutAlign="center center">
    <a [routerLink]="['info', 'data-security']" class="footer-text">Datenschutzerklärungen</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center center">
    <a [routerLink]="['info', 'conditions']" class="footer-text">Unsere AGB</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center center">
    <a [routerLink]="['info', 'contact']" class="footer-text">Impressum</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center center">
    <a href="https://github.com/sonntag-philipp/Carss" class="footer-text">GitHub</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="center center">
    <p class="footer-text" style="margin: 0;">© 2018, Phildev.me</p>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Note: This has to be done better, but hey, it works -->
