<div *ngIf="(!loggedin && initialized)" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="20" fxLayoutAlign="end" fxHide.gt-md="false" fxHide="true">
    <img src="{{ env.carssStore.address }}/assets/carss_logo.png" alt="">
  </div>

  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="title">Car Sharing Service</h1>
    <div>
      <h2 class="subtitle">- Berufsbildende Schulen Papenburg -</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <carss-root-login-card fxFlex.gt-md="60" fxFlex="100"></carss-root-login-card>
    </div>
  </div>

  <div fxFlex="20" fxLayoutAlign="start" fxHide.gt-md="false" fxHide="true">
    <img src="{{ env.carssStore.address }}/assets/bbs_logo.png" alt="">
  </div>
</div>
