<table style="width: 100%;">
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Adresse" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Alter" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Geschlecht" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
</table>
