<h1 ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  Neue Fahrt erstellen
</h1>
<mat-card>
  <mat-card-content>
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Startpunkt auswählen</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Zielpunkt auswählen</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Termin auswählen</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
