<h1 role="heading" ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  {{ (profile | async)?.name }}
</h1>
<app-profile-chips
  [systemChips]="(user | async)?.systemChips"
  [userChips]="(user | async)?.userChips"
></app-profile-chips>
<app-profile-paragraph title="Person:">
  <div fxFlex="initial" fxLayout="column">
    <b class="table-entry">Alter:</b>
    <b class="table-entry">Addresse:</b>
    <b class="table-entry">Geschlecht:</b>
  </div>
  <div fxFlex="initial" fxLayout="column">
    <div class="table-entry">{{ (profile | async)?.age }}</div>
    <div class="table-entry">{{ (profile | async)?.address }}</div>
    <div class="table-entry">{{ (profile | async)?.sex }}</div>
  </div>
</app-profile-paragraph>
<app-profile-paragraph *ngFor="let item of cars | async" [title]="item.model" fxLayout="row">
  <div fxFlex="initial" fxLayout="column">
    <b class="table-entry">Marke:</b>
    <b class="table-entry">Modell:</b>
    <b class="table-entry">Sitze:</b>
    <b class="table-entry">Farbe:</b>
    <b class="table-entry">Türen:</b>
    <b class="table-entry">Baujahr:</b>
    <b class="table-entry">Sonstiges:</b>
  </div>
  <div fxFlex="initial" fxLayout="column">
    <div class="table-entry">{{ item.brand }}</div>
    <div class="table-entry">{{ item.model }}</div>
    <div class="table-entry">{{ item.seats }}</div>
    <div class="table-entry">{{ item.color }}</div>
    <div class="table-entry">{{ item.doors }}</div>
    <div class="table-entry">{{ item.year }}</div>
    <div class="table-entry">{{ item.misc }}</div>
  </div>
</app-profile-paragraph>
<div>
  <button *ngIf="ownProfile" mat-raised-button color="primary" [routerLink]="['edit']">Bearbeiten</button>
</div>
