<mat-card *ngIf="profileService.initialized.user" style="padding: 0; margin-top: 24px; margin-bottom: 24px;">
  <mat-toolbar class="profile-card-toolbar" color="primary">
    <span>{{ profileService.user?.name }} {{ profileService.user?.surname }}</span>
    <div fxFlex="auto"></div>
    <button mat-icon-button [routerLink]="['edit']" matTooltip="Profil bearbeiten">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  <div class="card-subcontainer" fxLayout="row">
    <div fxFlex="85">
      <div class="card-subcontainer-paragraph">
        <carss-description-container [content]="profileService.user.description"></carss-description-container>
      </div>
    </div>
    <div fxFlex="15">
      <carss-image-container [url]="profileService.user.avatar"></carss-image-container>
    </div>
  </div>
  <div style="padding: 8px 16px 8px 16px;">
    <carss-tag-container [tags]="profileService.userTags" [id]="profileService.user.id" type="users"></carss-tag-container>
  </div>
  <carss-profile-presenter-map *ngIf="profileService.initialized.user" [address]="profileService.user.address"></carss-profile-presenter-map>
  <div *ngIf="profileService.initialized.vehicles">
    <carss-profile-presenter-car [vehicle]="item" *ngFor="let item of profileService.vehicles"></carss-profile-presenter-car>
  </div>
</mat-card>
