.footer-text {
  font-weight: normal;
  font-size: 10pt;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
