<div fxLayout="column" fxLayoutAlign="start center">
  <h1 class="title">Moin!</h1>
  <h2 class="subtitle">Wir freuen uns dich hier begrüßen zu dürfen.</h2>
  <h2 class="subtitle" style="font-size: 14pt;">Bei Fragen stehen dir das <a [routerLink]="['/info', 'faq']">FAQ</a> und Admins gerne zur Verfügung.</h2>
  <button mat-button fxFlex="100" color="warn" [routerLink]="['/dashboard']">Alles klar, weiter zu Carss</button>
  <h3 class="subtitle" style="font-size: 9pt;">Mit der Benutzung dieser Website stimmst du den <a [routerLink]="['/info', 'conditions']">AGB</a> zu.</h3>
</div>
