<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    <h1 style="font-size: 9vh; font-weight: lighter;">Open Carss</h1>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    <h3 style="font-size: 2vh; font-weight: lighter;">Finde jetzt deine Mitfahrgelegenheit!</h3>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center start">
    <button mat-raised-button color="warn" (click)="onBtnGetStarted();">Jetzt starten</button>
  </mat-toolbar-row>
</mat-toolbar>
