mat-toolbar {
  height: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.ftr-dash-routing-outlet {
  margin: 8px;
}

.toolbar-title {
  color: white;
  text-decoration: none;
}
