<h1 ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  Einstellungen
</h1>
<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datenschutz, Sicherheit
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-dashboard-settings-security></app-dashboard-settings-security>
    </mat-expansion-panel>
  </mat-accordion>
  <div>
    <mat-card style="padding: 8px;">
      <div fxFlex="auto"></div>
      <button mat-button color="warn" (click)="fireAuth.auth.signOut()" matTooltip="Abmelden"><mat-icon>exit_to_app</mat-icon></button>
    </mat-card>
  </div>
</div>
