<form #form="ngForm" (ngSubmit)="formSubmit(form);">
  <mat-card>
    <mat-card-title>
      {{ car.model }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ car.brand }}
    </mat-card-subtitle>
    <mat-card-content>
        <div fxFlex="100" fxLayout="column">

          <div fxLayout="row">
            <mat-form-field fxFlex="50" style="padding: 0;">
              <mat-select name="carBrand" [(ngModel)]="car.brand" placeholder="Marke">
                <mat-option *ngFor="let item of brandOptions" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50" style="padding-left: 4px;">
              <input name="carModel" [(ngModel)]="car.model" matInput maxlength="20" placeholder="Modell" type="text">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="25">
              <mat-select name="carSeats" [(ngModel)]="car.seats" placeholder="Sitze">
                <mat-option *ngFor="let item of seatOptions" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="25" style="padding-left: 4px;">
              <mat-select name="carDoors" [(ngModel)]="car.doors" placeholder="Türen">
                <mat-option *ngFor="let item of doorOptions" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="25" style="padding-left: 4px;">
              <input name="carYear" [(ngModel)]="car.year" matInput placeholder="Baujahr" type="text" maxlength="4">
            </mat-form-field>
            <mat-form-field fxFlex="25" style="padding-left: 4px;">
              <input name="carColor" [(ngModel)]="car.color" matInput placeholder="Farbe" type="text" maxlength="10">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <textarea name="carMisc" [(ngModel)]="car.misc" maxlength="512" matInput matTextareaAutosize placeholder="Beschreibung"></textarea>
            </mat-form-field>
          </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" matTooltip="Speichern" mat-icon-button>
        <mat-icon>
          save
        </mat-icon>
      </button>
      <div fxFlex="auto"></div>
      <button (click)="btnDelete();" matTooltip="Löschen" color="warn" mat-icon-button>
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
