<mat-card style="padding: 0;">

  <div class="card-subcontainer" style="font-size: 12pt;">
    <h4 class="card-subcontainer-title">Anmeldung</h4>
    <mat-form-field style="width: 100%;">
      <input #mail matInput placeholder="E-Mail" type="text">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input #password matInput placeholder="Passwort" type="password">
    </mat-form-field>
  </div>
  <div style="padding: 0 16px 8px 16px;">
    <button (click)="btnLogin(mail.value, password.value);" mat-button fxFlex="50" color="primary" style="margin-right: 4px;">Anmelden</button>
    <button (click)="btnRegister(mail.value, password.value);" mat-button fxFlex="50" color="accent" style="margin-left: 4px;">Registrieren</button>
  </div>
  <mat-divider></mat-divider>
  <div class="card-subcontainer">
    <button mat-raised-button (click)="btnGoogle();" style="width: 100%; margin-bottom: 8px;" color="warn">
      Anmelden über Google
    </button>
    <button mat-raised-button (click)="btnFacebook();" style="width: 100%; margin-bottom: 8px;" color="primary">
      Anmelden über Facebook
    </button>
    <button mat-raised-button (click)="btnGitHub();" style="width: 100%;">
      Anmelden über GitHub
    </button>
  </div>
</mat-card>
