.footer-text {
  font-weight: normal;
  font-size: 10pt;
  padding: 8px;
  color: white;
  margin: 0;
}

.footer-xs {
  margin-top: 24px;
  height: fit-content;
}

.footer-default {
  background-color: #363bb2;
  font-family: 'Roboto';
}

.footer {
  height: 96px;
}
