<h1 ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  Moin, {{ (profile | async)?.name }}
</h1>
<div fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="50" class="mat-options-card" [routerLink]="['/drive/new']">
      <mat-card-title>Fahren</mat-card-title>
      <mat-card-subtitle>Selber Fahrer werden</mat-card-subtitle>
    </mat-card>
    <mat-card fxFlex="50" class="mat-options-card" [routerLink]="['/ride']">
      <mat-card-title>Mitfahren</mat-card-title>
      <mat-card-subtitle>Einen Fahrer finden</mat-card-subtitle>
    </mat-card>
  </div>
</div>
