<mat-divider></mat-divider>
<div>
  <div class="card-subcontainer" fxLayout="row">
    <div fxFlex="85">
      <h1 class="card-subcontainer-title">{{ car.name }}</h1>
      <p class="card-subcontainer-paragraph">
        {{ car.description }}
      </p>
    </div>
    <div fxFlex="15">
      <img src="{{ car.image_url }}" style="border-radius: 50%;" width="100%;" alt="">
    </div>
  </div>
  <div style="padding: 8px 16px 8px 16px;">
    <mat-chip-list>
      <mat-chip *ngFor="let item of car.tags"
                matTooltip="Von: {{ item.creator }} / {{ item.timestamp }}">
        {{ item.content }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

