<table style="width: 100%;">
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 95%;">
        <input placeholder="IServ Adresse" matInput type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-checkbox>Öffentlich</mat-checkbox>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 95%;">
        <input placeholder="Facebook Profil" matInput type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-checkbox>Öffentlich</mat-checkbox>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 95%;">
        <input placeholder="Instagram Profil" matInput type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-checkbox>Öffentlich</mat-checkbox>
    </td>
  </tr>
</table>
