.userPicture {
  margin-right: 8px;
}

.toolbar-title {
  color: white;
  text-decoration: none;
}

mat-toolbar {
  height: 56px;

  -webkit-box-shadow: 2px -21px 56px 22px rgba(0,0,0,0.76);
  -moz-box-shadow: 2px -21px 56px 22px rgba(0,0,0,0.76);
  box-shadow: 2px -21px 56px 22px rgba(0,0,0,0.76);
}
