<div fxLayout="column">
  <h1 style="text-align: center; font-size: 60pt; font-weight: lighter;">Carss</h1>
  <div fxLayout="row">
    <mat-card fxFlex="50" style="margin-right: 8px; background-color: #ffcccc;">
      <mat-card-title style="text-align: center;">Fahren</mat-card-title>
      <mat-card-content>
        <b>1.</b> Anmeldung über Google oder Facebook<br>
        <b>2.</b> Dein Fahrzeug einstellen<br>
        <b>3.</b> Eintragung deiner Fahrten<br>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50" style="margin-left: 8px; background-color: #ccffcc;">
      <mat-card-title style="text-align: center;">Mitfahren</mat-card-title>
      <mat-card-content>
        <b>1.</b> Anmeldung über Google oder Facebook<br>
        <b>2.</b> Dein Ziel einstellen<br>
        <b>3.</b> Suche nach Fahrten<br>
      </mat-card-content>
    </mat-card>
  </div>
</div>
