button {
  margin-left: 8px;
}

.profile-card-toolbar {
  position: sticky;
  top: 0px;
  z-index: 10;
  border-radius: 3px 3px 0 0;
  height: 54px;
}

.image {
  border-radius: 50%;
}

.image:hover {

}

.textarea {
  color: #000;
}
