<div *ngIf="ready">
  <form #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div role="heading">
      <div class="heading-container">
        <h1 role="heading" class="heading"></h1>
        <input name="name" [(ngModel)]="profile.name" class="heading" placeholder="Name des Profils:" matInput maxlength="20" type="text">
      </div>
    </div>
    <div role="banner">
      <app-profile-chips [systemChips]="user.systemChips" [userChips]="user.userChips"></app-profile-chips>
    </div>
    <div>
      <app-profile-paragraph title="Person:">
        <div fxFlex="initial" fxLayout="column">
          <label class="table-key">Alter:</label>
          <label class="table-key">Wohnort:</label>
          <label class="table-key">Geschlecht:</label>
        </div>
        <div fxFlex="initial" fxLayout="column">
          <input name="charAge" id="charAge" [(ngModel)]="profile.characteristics.age" class="table-entry" matInput type="number">
          <input name="charHometown" id="charHometown" [(ngModel)]="profile.characteristics.hometown" class="table-entry" matInput maxlength="20" type="text">
          <input name="charSex" [(ngModel)]="profile.characteristics.sex" class="table-entry" matInput maxlength="20" type="text">
        </div>
      </app-profile-paragraph>
    </div>
    <div>
      <app-profile-paragraph title="Auto:" fxLayout="row">
        <div fxFlex="initial" fxLayout="column">
          <label class="table-key">Marke:</label>
          <label class="table-key">Modell:</label>
          <label class="table-key">Sitze:</label>
          <label class="table-key">Farbe:</label>
          <label class="table-key">Türen:</label>
          <label class="table-key">Baujahr:</label>
          <label class="table-key">Sonstiges:</label>
        </div>
        <div fxFlex="initial" fxLayout="column">
          <input name="carBrand" [(ngModel)]="profile.car.brand" class="table-entry" matInput maxlength="20" type="text">
          <input name="carModel" [(ngModel)]="profile.car.model" class="table-entry" matInput maxlength="20" type="text">
          <input name="carSeats" [(ngModel)]="profile.car.seats" class="table-entry" matInput maxlength="20" type="number">
          <input name="carColor" [(ngModel)]="profile.car.color" class="table-entry" matInput maxlength="20" type="text">
          <input name="carDoors" [(ngModel)]="profile.car.doors" class="table-entry" matInput maxlength="20" type="number">
          <input name="carYear" [(ngModel)]="profile.car.year" class="table-entry" matInput maxlength="20" type="text">
          <input name="carMisc" [(ngModel)]="profile.car.misc" class="table-entry" matInput maxlength="20" type="text">
        </div>
      </app-profile-paragraph>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit(form);">Speichern</button>
    </div>
  </form>
</div>
