<div *ngIf="ready" style="margin-bottom: 16px;">
  <h1 role="heading" ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
    Profil bearbeiten
  </h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div role="banner">
      <app-profile-chips [systemChips]="user.systemChips" [userChips]="user.userChips"></app-profile-chips>
    </div>

    <h2 style="margin: 4px 0 8px 0; font-weight: normal;">Persönliches: </h2>
    <div>
      <app-profile-editor-personal [uid]="id" [profile]="profile"></app-profile-editor-personal>
    </div>

    <mat-divider style="margin-top: 8px;"></mat-divider>
    <h2 style="margin: 4px 0 8px 0; font-weight: normal;">Fahrzeuge: </h2>
    <div style="padding-top: 8px;" *ngFor="let item of cars | async">
      <app-profile-editor-car  [car]="item"></app-profile-editor-car>
    </div>
  </form>
  <div style="padding-top: 16px;">
    <button (click)="btnAddCar();" matTooltip="Hinzufügen" color="warn" mat-icon-button>
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
</div>


