<form #form="ngForm" (ngSubmit)="formSubmit(form);">
  <mat-card>
    <mat-card-content>
      <div fxFlex="100" fxLayout="column">

        <div fxLayout="row">
          <mat-form-field fxFlex="50" style="padding: 0;">
            <input name="profileName" [(ngModel)]="profile.name" matInput maxlength="20" placeholder="Vorname" type="text">
          </mat-form-field>
          <mat-form-field fxFlex="50" style="padding-left: 4px;">
            <input name="profileSurname" [(ngModel)]="profile.surname" matInput maxlength="20" placeholder="Nachname" type="text">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="25">
            <input name="profileAge" [(ngModel)]="profile.age" matInput placeholder="Alter" type="number">
          </mat-form-field>
          <mat-form-field fxFlex="25" style="padding-left: 4px;">
            <mat-select name="profileSex" [(ngModel)]="profile.sex" placeholder="Geschlecht">
              <mat-option  *ngFor="let item of sexOptions" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50" style="padding-left: 4px;">
            <input name="profileAddress" agmInput [(ngModel)]="profile.address" matInput placeholder="Adresse" type="text">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="50" style="padding: 0;">
            <input name="profileClass" [(ngModel)]="profile.class" matInput maxlength="20" placeholder="Klasse" type="text">
          </mat-form-field>
          <mat-form-field fxFlex="50" style="padding-left: 4px;">
            <input name="profileSchool" [(ngModel)]="profile.school" matInput maxlength="40" placeholder="Schule" type="text">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="100">
            <textarea name="profileDescription" [(ngModel)]="profile.description" maxlength="512" matInput matTextareaAutosize placeholder="Beschreibung"></textarea>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matTooltip="Speichern" mat-icon-button type="submit">
        <mat-icon>
          save
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
