
<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="60" style="margin: 8px;">
    <mat-card-title class="card-title">
      Carss
    </mat-card-title>
    <mat-card-content>
      <h3>Hallo,</h3>
      <p>
        herzlich willkommen auf der Website von Carss, der Online Mitfahrerzentrale der<br>
        BBS Papenburg.<br><br>
        Melde dich bitte zunächst an um fortzufahren.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn">Sign in with Google</button>
      <button mat-raised-button color="primary">Sign in with Facebook</button>
    </mat-card-actions>
  </mat-card>
</div>
