<table style="width: 100%;">
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Sitzplätze" matInput type="number">
      </mat-form-field>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Marke" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Modell" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
  <tr fxLayoutAlign="start center">
    <td fxFlex="60" fxFlex.xs="100">
      <mat-form-field style="width: 100%;">
        <input placeholder="Sonstiges" matInput type="text">
      </mat-form-field>
    </td>
  </tr>
</table>
