<h1 role="heading" ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  Impressum
</h1>
<mat-card style="padding: 8px;">
  <div fxLayout="row">
    <div fxFlex="initial" class="card-subcontainer">
      <h1 class="card-subcontainer-title">Schule:</h1>
      BBS Technik u. Wirtschaft<br>
      Fahnenweg 31-39<br>
      25871 Papenburg<br><br>
      E-Mail: verwaltung@bbs-papenburg.eu<br>
      Tel: +49 04961-89101
    </div>
    <div fxFlex="initial" class="card-subcontainer">
      <h1 class="card-subcontainer-title">Entwicklung:</h1>
      Philipp Sonntag<br><br>
      E-Mail: sonntag.philipp@outlook.de<br>
      Tel: Nein
    </div>
  </div>
</mat-card>
