<mat-toolbar color="primary" class="carss-toolbar">
  <div fxFlex="50" fxLayoutAlign="start center">
    <button mat-icon-button class="home-btn">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <span class="title">Dashboard</span>
  </div>
  <div fxFlex="50">
    <div class="search-container" fxLayoutAlign="start center">
      <mat-icon class="search-icon">
        search
      </mat-icon>
      <input placeholder="Nach Fahrten suchen..." class="search-input" type="text">
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end center">
  </div>
</mat-toolbar>

