<mat-toolbar color="primary" class="carss-toolbar">
  <div fxFlex="50" fxLayoutAlign="start center" >
    <span class="title" [routerLink]="['/dashboard']">Carss</span>
    <button mat-icon-button [routerLink]="['/dashboard']" matTooltip="Dashboard">
      <mat-icon>
        home
      </mat-icon>
    </button>
  </div>
  <div fxFlex="50">
    <div class="search-container" fxLayoutAlign="start center">
      <mat-icon class="search-icon">
        search
      </mat-icon>
      <input placeholder="Nach Fahrten suchen..." [(ngModel)]="searchValue" (keyup.enter)="search($event);" class="search-input" type="text">
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end center">
    <button mat-icon-button [routerLink]="['/profile', session.user?.id]" matTooltip="Dein Profil">
      <mat-icon>
        account_circle
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="session.logout();" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>exit_to_app</mat-icon>Abmelden
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

