mat-form-field {
  padding: 0%;
  background-color: white;
}

input {
  padding: 0%;

}

.sticky-position {
  z-index: 10;
  top: 0;
  position: fixed;
}

.search-input {
  border: none;
  font-family: Roboto;
  padding: 8px;
  font-size: 20px;
}

.search-input:focus {
  outline: none;
}

.search-container {
  padding: 4px;
  height: min-content;
}
