.card-subcontainer {
  padding: 16px;
}

.card-subcontainer-title {
  font-size: 15pt;
  padding-bottom: 8px;
  font-weight: normal;
  margin: 0;
}

.card-subcontainer-paragraph {
  font-size: 12pt;
}
