<h1 class="dashboard-title">Einstellungen</h1>

<mat-divider></mat-divider>
<div style="margin-bottom: 8px;">
  <h2 class="dashboard-title" style="margin-bottom: 0; margin-top: 8px;">IServ</h2>
  <mat-form-field>
    <input matInput placeholder="IServ E-Mail" type="text">
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div style="margin-bottom: 8px;">
  <h2 class="dashboard-title" style="margin-bottom: 0; margin-top: 8px;">Mein Auto</h2>
  <mat-form-field>
    <input matInput placeholder="Sitzplätze" type="number">
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div style="margin-bottom: 8px;">
  <h2 class="dashboard-title" style="margin-bottom: 0; margin-top: 8px;">Privatsphäre</h2>

  <p>Beispiel-Input</p>
</div>
<div>
  <button mat-button color="warn">Speichern</button>
  <div fxFlex="auto"></div>
  <button mat-button color="primary">Einstellungen zurücksetzen</button>
</div>
