<h1 ngClass.xs="heading-container-xs" class="heading" ngClass="heading-container">
  Neue Fahrt erstellen
</h1>
<mat-card>
  <mat-card-content>
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Startpunkt auswählen</ng-template>
        <agm-map [latitude]="53.082923" [longitude]="7.402409" style="height: 40vh;">
          <agm-marker [latitude]="53.082923" [longitude]="7.402409"></agm-marker>
        </agm-map>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Zielpunkt auswählen</ng-template>
        <agm-map [latitude]="53.082923" [longitude]="7.402409" style="height: 40vh;">
          <agm-marker [latitude]="53.082923" [longitude]="7.402409"></agm-marker>
        </agm-map>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Daten eintragen</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Absenden</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
