.maps-input {
  border: 0;
  outline: 0;
  font-size: 14pt;
  width: 100%;
}

.maps-input-container {
  border-radius: 3px;
  background-color: white;
  padding: 4px;
  margin: 8px;
  -webkit-box-shadow: 4px -1px 49px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px -1px 49px -10px rgba(0,0,0,0.75);
  box-shadow: 4px -1px 49px -10px rgba(0,0,0,0.75);
}
